<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028576731227-6mhbsamvr1re0diih8t1oiqm3pijoqid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028576731227-6mhbsamvr1re0diih8t1oiqm3pijoqid</string>
	<key>API_KEY</key>
	<string>AIzaSyBxL94_ip3BmcomrSw9Mck8z1BhwoDHglM</string>
	<key>GCM_SENDER_ID</key>
	<string>1028576731227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.info.zeedapp</string>
	<key>PROJECT_ID</key>
	<string>thezeedapp-f4b7f</string>
	<key>STORAGE_BUCKET</key>
	<string>thezeedapp-f4b7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028576731227:ios:5e274e0a1498b2295ddf7e</string>
</dict>
</plist>