<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Zeed.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>19FC1417ED9B1F28CC1324D2D0097A7B1C652A6A</string>
				<key>dateExpires</key>
				<string>15/10/21</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19FC1417ED9B1F28CC1324D2D0097A7B1C652A6A</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ARSLineProgress.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>44ZZF669W5</string>
						<key>name</key>
						<string>Hemant Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19FC1417ED9B1F28CC1324D2D0097A7B1C652A6A</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>44ZZF669W5</string>
						<key>name</key>
						<string>Hemant Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19FC1417ED9B1F28CC1324D2D0097A7B1C652A6A</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DLRadioButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>44ZZF669W5</string>
						<key>name</key>
						<string>Hemant Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19FC1417ED9B1F28CC1324D2D0097A7B1C652A6A</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DatePickerDialog.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>44ZZF669W5</string>
						<key>name</key>
						<string>Hemant Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19FC1417ED9B1F28CC1324D2D0097A7B1C652A6A</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>EZYGradientView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>44ZZF669W5</string>
						<key>name</key>
						<string>Hemant Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19FC1417ED9B1F28CC1324D2D0097A7B1C652A6A</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GMStepper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>44ZZF669W5</string>
						<key>name</key>
						<string>Hemant Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19FC1417ED9B1F28CC1324D2D0097A7B1C652A6A</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GrowingTextView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>44ZZF669W5</string>
						<key>name</key>
						<string>Hemant Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19FC1417ED9B1F28CC1324D2D0097A7B1C652A6A</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>44ZZF669W5</string>
						<key>name</key>
						<string>Hemant Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19FC1417ED9B1F28CC1324D2D0097A7B1C652A6A</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ISMessages.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>44ZZF669W5</string>
						<key>name</key>
						<string>Hemant Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19FC1417ED9B1F28CC1324D2D0097A7B1C652A6A</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ImageScrollView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>44ZZF669W5</string>
						<key>name</key>
						<string>Hemant Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19FC1417ED9B1F28CC1324D2D0097A7B1C652A6A</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>InputBarAccessoryView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>44ZZF669W5</string>
						<key>name</key>
						<string>Hemant Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19FC1417ED9B1F28CC1324D2D0097A7B1C652A6A</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JGProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>44ZZF669W5</string>
						<key>name</key>
						<string>Hemant Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19FC1417ED9B1F28CC1324D2D0097A7B1C652A6A</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>44ZZF669W5</string>
						<key>name</key>
						<string>Hemant Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19FC1417ED9B1F28CC1324D2D0097A7B1C652A6A</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>44ZZF669W5</string>
						<key>name</key>
						<string>Hemant Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19FC1417ED9B1F28CC1324D2D0097A7B1C652A6A</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MarqueeLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>44ZZF669W5</string>
						<key>name</key>
						<string>Hemant Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19FC1417ED9B1F28CC1324D2D0097A7B1C652A6A</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MessageKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>44ZZF669W5</string>
						<key>name</key>
						<string>Hemant Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19FC1417ED9B1F28CC1324D2D0097A7B1C652A6A</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Nuke.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>44ZZF669W5</string>
						<key>name</key>
						<string>Hemant Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19FC1417ED9B1F28CC1324D2D0097A7B1C652A6A</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Parchment.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>44ZZF669W5</string>
						<key>name</key>
						<string>Hemant Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19FC1417ED9B1F28CC1324D2D0097A7B1C652A6A</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>44ZZF669W5</string>
						<key>name</key>
						<string>Hemant Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19FC1417ED9B1F28CC1324D2D0097A7B1C652A6A</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SocketIO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>44ZZF669W5</string>
						<key>name</key>
						<string>Hemant Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19FC1417ED9B1F28CC1324D2D0097A7B1C652A6A</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SquareFlowLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>44ZZF669W5</string>
						<key>name</key>
						<string>Hemant Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19FC1417ED9B1F28CC1324D2D0097A7B1C652A6A</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>44ZZF669W5</string>
						<key>name</key>
						<string>Hemant Agarwal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19FC1417ED9B1F28CC1324D2D0097A7B1C652A6A</string>
						<key>dateExpires</key>
						<string>15/10/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwipeCellKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>44ZZF669W5</string>
						<key>name</key>
						<string>Hemant Agarwal</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>22JWR2PEFH.com.info.zeedapp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>44ZZF669W5</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>22JWR2PEFH.com.info.zeedapp</string>
				</array>
			</dict>
			<key>name</key>
			<string>Zeed.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5b826b3f-2750-472a-870a-0530b4b293ba</string>
				<key>name</key>
				<string>zeed app adhoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>44ZZF669W5</string>
				<key>name</key>
				<string>Hemant Agarwal</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
